@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.navContent {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.navItem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/600 */

  color: #475467;
}
.getStartedBtn {
  font-weight: 600;
}
.loginBtn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  width: 70px;
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/700 */

  color: #344054;
}
.startBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  height: 40px;

  /* Primary/600 */

  background: #155eef;
  /* Primary/600 */

  border: 1px solid #155eef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Text sm/Semibold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Base/White */

  color: #ffffff;
}

/* Header */
.headContent {
  background-image: url(./home4k/H_S/Vector_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 716px; */
  /* margin-top: 32px; */
}
.heading {
  font-weight: 700;
}
.headPara {
  font-weight: 400;
  text-align: center;
}
.tryUsFree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* width: 199px; */
  height: 60px;

  /* Primary/600 */

  background: #155eef;
  /* Primary/600 */

  border: 1px solid #155eef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.getBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 24px;
  height: 60px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 2px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
/* How It Works Start*/
.howItWorksHeading {
  font-weight: 700;
}
.howItWorksContainer {
  background-image: url(./home4k/H_S/Mesh-BG1.svg);
  height: 1058px;
  background-size: cover;
  margin-top: 100px;
}
.howItWorksPara {
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
}
.processContainer {
  background-image: url(./home4k/H_S/Mesh-1.svg);
  /* height: 751px; */
  width: 1056px;
  /* display: block;*/
  margin: 60px auto;
  /* margin-top: 60px; */
  border-radius: 24px;

  background-repeat: no-repeat;
}

.tryUsFreeContent {
  height: 152px;
}

.tryUsFreeContainer {
  background: rgba(255, 255, 255, 0.8);
  /*  */
  backdrop-filter: blur(20px);

  /* outline: 2px solid rgba(16, 24, 40, 0.14); */
  /* Shadow/3xl */
  width: 232px !important ;
  height: 152px;
  /* box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14); */
  border-radius: 16px 16px 0px 0px;
  /* border-width: 2px 2px; */
  border-style: solid;
  /* border-color: rgba(255, 255, 255, 0.5); */
}

.tryUsFreeHead {
  font-weight: 600;
}
.tryUsFreePara {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.getQuoteContainer {
  width: 232px !important;
  height: 153px;

  background: rgba(255, 255, 255, 0.3);
  /* background-image: url(./home4k/H_S/logos/Stock.svg); */
  /* border-width: 2px 2px; */
  border-style: solid;
  /* border-color: rgba(255, 255, 255, 0.5); */
  /* Background blur / xl */

  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px;
}
.getQuoteHead {
  color: #475467;
  font-weight: 600;
}
.getQuotePara {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.placeOrderContainer {
  width: 232px;
  height: 153px;

  background: rgba(255, 255, 255, 0.3);
  /* border-width: 0 2px; */
  border-style: solid;
  /* border-color: rgba(255, 255, 255, 0.5); */
  /* Background blur / xl */

  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px;
}
.placeOrderHead {
  color: #475467;
  font-weight: 600;
}
.placeOrderPara {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.customContainer {
  width: 232px;
  height: 153px;

  background: rgba(255, 255, 255, 0.3);
  /* border-width: 0.25px 0.25px; */
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  /* Background blur / xl */

  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px 0px 16px 16px;
}
.customHead {
  color: #475467;
  font-weight: 600;
}
.customPara {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.weUnderstand {
  font-weight: 700;
  width: 352px;
  /* height: 88px; */
}
.weUnderstandPara {
  font-size: 16px;
  font-weight: 400;
  color: #475467;
}
.freeWork {
  font-weight: 600;
  color: #004eeb;
  cursor: pointer;
}
.freeWork:hover {
  color: #0040c1;
}

.freeImage:hover {
  color: #0040c1;
}
.formContainer {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 20px;

  width: 360px;
  height: 580px;
  right: 24px;
  margin-top: 15px;

  background: rgba(249, 250, 251, 0.8);
  /* Base/White */

  border: 2px solid #ffffff;
  /* Background blur / xl */

  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
.nameInput {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 312px;
  height: 40px;
  margin-bottom: 0px;
  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */
}
.phoneInput {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 290px;
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.selectFlag {
  width: 100px;
  height: 38px;

  /* Gray/100 */

  background: #f2f4f7;
  /* Gray/300 */

  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #d0d5dd;
  border-radius: 8px 0px 0px 8px;
}
.phoneInput {
  width: 210px;
  height: 38px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  border-left: none;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0 8px 8px 0;
  z-index: 500;
}
.receiveCall {
  width: 260px !important;
  height: 18px !important;

  /* Text xs/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  /* identical to box height, or 150% */

  text-align: right !important;

  /* Primary/600 */

  color: #155eef !important;
}
.callContainer {
  width: 260px;
  height: 18px;

  /* Text xs/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: right;
}
.selectService {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 312px;
  /* height: 40px; */

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
select option[disabled] {
  color: #667085;
}
.instructionBox {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;

  width: 312px;
  height: 80px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */
}
.fileBox {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  gap: 4px;

  width: 312px;
  height: 104px;

  /* Base/White */

  background: #ffffff;
  /* Primary/300 */

  border: 2px dashed #84adff;
  border-radius: 12px;
}
.uploadText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/700 */

  color: #004eeb;
}

.transferBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/400 */

  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;

  width: 312px;
  height: 44px;
  background: #eaecf0 !important;
  color: #98a2b3;
  border: 1px solid #eaecf0;

  /* Gray/200 */

  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.transferBtn.transferBtnActive {
  background: #0e53df !important;
  /* Gray/200 */

  border: 1px solid #0e53df;
  color: #ffffff;
}

.transferBtn.disabled {
  background: #eaecf0;
  color: #98a2b3;
  border: 1px solid #eaecf0;
}
.transferBtnTwo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/400 */

  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;

  width: 252px;
  height: 44px;
  background: #eaecf0 !important;
  color: #98a2b3;
  border: 1px solid #eaecf0;

  /* Gray/200 */

  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.transferBtnTwo.disabled {
  background: #eaecf0;
  color: #98a2b3;
  border: 1px solid #eaecf0;
}
.transferBtnTwo.transferBtnActive {
  background: #0e53df !important;
  /* Gray/200 */

  border: 1px solid #0e53df;
  color: #ffffff;
}

.radioBtn {
  width: 4%;
  margin-top: -30px;
  /* height: 100; */
}
/* How It Works End */

/* form Start */
.flipper {
  padding: 30px;
  width: 300px;
  /* height: 250px; */
  position: relative;
  /* background: #f5f5f5; */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.front,
.back,
.stepThree,
.stepFour {
  /*background-color: rgba(0,0,0,.3);*/
  position: absolute;
  /* padding:10px 30px; */
  top: 0;
  left: 0;
  right: 0;

  backface-visibility: hidden;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.stepThree {
  z-index: 5;
  transform: rotateY(0deg);
}
#stepFour {
  /* z-index: 10; */
  /* transform: rotateY(0deg); */
  display: none;
}
.flip {
  transform: rotateY(180deg);
}
input {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
}

.title {
  text-align: center;
}
.flipbutton {
  color: #4096ee;
  text-decoration: none;
  text-align: left !important;
}

/* Alignment styles */

/* form ends */

/* Validate Form Start */
.validateFormContainer {
  width: 360px;
  height: 470px;
  right: 24px;
  top: 79px;

  /* G/5 */

  background: radial-gradient(
      91.82% 118.45% at 78.47% -8.71%,
      #f5f7f3 0%,
      #f9fafa 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* Shadow/3xl */

  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 16px;
}
.confirmEmail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height, or 127% */

  text-align: center;
}
.verifyBox {
  box-sizing: border-box;

  /* Auto layout */

  display: block;
  margin: auto;

  width: 312px;
  height: 64px;
  padding: 20px 12px;

  /* Base/White */

  background: #ffffff;
  /* Primary/600 */

  border: 2px solid #155eef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.reviewEmail {
  /* width: 167px; */
  height: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-decoration-line: underline;
  text-align: center;

  /* Gray/600 */

  color: #475467;
}
.addition {
  width: 312px;
  height: 80px;
  display: block;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;

  /* Gray/500 */

  color: #667085;
}
.email {
  color: rgba(16, 24, 40, 1);
  font-weight: 700;
}
.backBtnContainer {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  width: 44px;
  height: 44px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.verifyBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/400 */

  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;

  width: 252px;
  height: 44px;
  background: #eaecf0 !important;
  color: #98a2b3;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  cursor: not-allowed;
}
.verifyBtn.disabled {
  background: #eaecf0;
  color: #98a2b3;
  border: 1px solid #eaecf0;
  cursor: not-allowed;
}
.verifyBtn.active {
  background: #0e53df !important;
  /* Gray/200 */
  cursor: pointer;
  border: 1px solid #0e53df;
  color: #ffffff;
}
/* Validate Form Ends */
.card {
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }

  .card.flip {
    transform: rotateY(180deg);
  }
}

.transferText {
  /* width: 352px; */
  height: 44px;

  /* Display md/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.transferPara {
  width: 352px;
  height: 96px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 20px;
  margin-top: 95px;

  /* position: absolute; */
  width: 360px;
  height: 296px;
  right: 32px;
  top: calc(50% - 296px / 2);

  /* G/5 */

  background: radial-gradient(
      91.82% 118.45% at 78.47% -8.71%,
      #f5f7f3 0%,
      #f9fafa 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* Shadow/3xl */

  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  border-radius: 12px;
}
.imgOneContainer {
  box-sizing: border-box;

  width: 312px;
  height: 72px;

  /* Base/White */

  background: #ffffff;
  /* Gray/200 */

  border: 1px solid #eaecf0;
  border-radius: 12px;
}
.folderName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/700 */

  color: #344054;
}
.uploadDetail {
  width: 196px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/600 */

  color: #475467;
}
.lastText {
  width: 352px;
  height: 88px;

  /* Display md/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.lastPara {
  width: 352px;
  height: 96px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.lastContainer {
  margin-top: 150px;
}
.checkButton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/700 */

  color: #004eeb;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 8px;

  /* Primary/50 */

  background: #eff4ff;
  /* Primary/50 */

  border: 1px solid #eff4ff;
  border-radius: 8px;
}

#getFormText {
  display: none;
}

/* Get Quote */
.getQuoteHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}

.getQuoteParaOne {
  width: 363px;
  height: 120px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.getQuoteAllContent {
  height: 153px !important;
}
.getQuoteParaTwo {
  width: 363px;
  height: 96px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.getQuoteFirstHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  text-align: center;
  letter-spacing: -0.02em;
  margin-top: -130px;
  margin-left: 35px;

  /* Gray/900 */

  color: #101828;
}
.getQuoteFirstPara {
  width: 630px;
  height: 72px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Gray/600 */

  color: #475467;
  margin-left: 55px;
  margin-top: 12px;
}
.howQuoteWorksContainer {
  margin-left: 277px;
}

.howQuoteWorks {
  width: 167px;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  /* identical to box height, or 143% */

  /* Primary/700 */

  color: #004eeb;
}
.howQuoteWorks:hover {
  color: #0040c1;
}

.selectServicePara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/700 */

  color: #344054;
}
.serviceImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  /* gap: 16px; */

  width: 217px;
  height: 178px;

  /* Base/White */

  background: #ffffff;
  border-radius: 8px;
}
.radioBtn {
  border: 2px solid #344054;
}

.backTwo {
  transform: rotateY(0deg);
  display: none;
}

.letUsDoTheWork {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.letUsDoTheWorkPara {
  width: 363px;
  height: 120px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}

.flipperTwo {
  transform: rotateY(180deg);
}
.verifyTwoBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/400 */

  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;

  width: 252px;
  height: 44px;
  background: #eaecf0 !important;
  color: #98a2b3;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  cursor: not-allowed;
}
.verifyTwoBtn.disabled {
  background: #eaecf0;
  color: #98a2b3;
  border: 1px solid #eaecf0;
  cursor: not-allowed;
}
.verifyTwoBtn.active {
  background: #0e53df !important;

  cursor: pointer;
  border: 1px solid #0e53df;
  color: #ffffff;
}

#placeOrderContent {
  display: none;
}
.placeOrderContent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.placeOrderContentPara {
  width: 617px;
  height: 144px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.placeOrderGetStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 8px;

  /* width: 109px; */
  height: 36px;

  /* Primary/600 */

  background: #155eef;
  /* Primary/600 */

  border: 1px solid #155eef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Base/White */

  color: #ffffff;
}
.talkToOurSpecialist {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 8px;

  /* width: 178px; */
  height: 36px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/700 */

  color: #344054;
}
.howAppWorks {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/700 */
  cursor: pointer;
  color: #004eeb;
}
.howAppWorks:hover {
  color: #0040c1;
}
/* Custom Order */
.customOrderHeading {
  width: 352px;
  height: 132px;

  /* Display md/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.customOrderPara {
  width: 352px;
  height: 256px;

  /* Text md/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/600 */

  color: #475467;
}
.customWorks {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/700 */

  color: #004eeb;
}
.customWorks:hover {
  color: #0040c1;
}

.handIcon {
  width: 40px;
}
#customOrderContent {
  display: none;
}

.imgHover:hover {
  border: 2px solid #155eef;
  /* Shadow/md */
  transition: 0.2s;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}

/* Pricing Start */
.pricingContainer {
  height: 1184px;
  background-size: cover;
  background: #f6f5fe;
}
.pricingHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */
  padding-top: 100px;
  text-align: center;
  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.pricingPara {
  width: 805px;
  height: 56px;
  display: block;
  margin: 16px auto;
  /* Text lg/Regular */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  /* Gray/600 */

  color: #475467;
}
.clippingBg {
  /* width: 157px; */
  height: 40px;

  /* Primary/600 */

  background: #155eef;
  /* Primary/600 */

  /* border: 1px solid #155eef; */
  color: white;
  padding: 10px 16px;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.retouchBg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  /* width: 186px; */
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.ghostBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  /* width: 186px; */
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.maskingBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  /* width: 186px; */
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.otherBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  /* width: 186px; */
  height: 40px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.priceCalculatorSection {
  background: url(./home4k/H_S/Rectangle\ 12.svg);
  width: 1056px;
  height: 798.5px;
  left: 112px;
  top: 328px;

  background: linear-gradient(
    121.7deg,
    rgba(255, 255, 255, 0.27) 1.94%,
    rgba(255, 255, 255, 0.3) 98.32%
  );
  /* Background blur / xl */

  backdrop-filter: blur(20px);
  display: block;
  margin: auto;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.basicButton{
  /* display: flex; */
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;
gap: 8px;
/* Primary/600 */

background: #155EEF;
/* Primary/600 */

border: 1px solid #155EEF;
/* Shadow/xs */

/* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); */
border-radius: 8px;
color: white;
}
.button{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/600 */

color: #475467;
}
.buttonContainer{
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  /* gap: 8px; */
  margin-left: 23px;
  margin-top: -25px;
  width: 616px;
  /* height: 52px; */
 
  background: #FFFFFF;
  /* Base/White */
  
  border: 1px solid #FFFFFF;
  border-radius: 0px;
}



.pricingServicePara{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #475467;
}
.serviceHeading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
color: #101828;
}
.serviceDetail{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
color: #475467;
}
.serviceContainer{
  display: flex;
flex-direction: row;
align-items: center;
padding: 4px 16px 4px 4px;
gap: 24px;

width: 296px;
height: 54px;
/* margin-left: 24px; */

background: rgba(255, 255, 255, 0.5);
/* Base/White */

border: 1.5px solid #FFFFFF;
/* Background blur / lg */

backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
}
.allServicePara{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/600 */

color: #475467;
}
.pricingCalculator{
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  
  /* position: absolute; */
  width: 360px;
  height: 720px;
  left: 784px;
  margin-top: 22px;
  /* top: calc(50% - 700px/2 + 110px); */
  
  background: rgba(240, 240, 240, 0.6);
  /* Base/White */
  
  border: 2px solid #FFFFFF;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 16px;
}
.serviceNameContainer{
  display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 24px;

width: 328px;
height: 400px;

/* 1 */

background: linear-gradient(180.47deg, rgba(255, 255, 255, 0.6) 86.69%, rgba(255, 255, 255, 0.012) 107.74%);
/* Background blur / xl */

backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 16px;
}
.serviceName{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/900 */

color: #101828;
}
.pricing{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */

text-align: center;
letter-spacing: -0.02em;

/* Primary/600 */

color: #155EEF;
}
.serviceName{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/600 */

color: #475467;
}
.dropShadow{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/600 */

color: #475467;
}
.servicePrice{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/600 */

color: #475467;
}
.border{
  width: 296px;
height: 0px;

opacity: 0.2;
/* Gray/600 */

border: 1px dashed #475467;
}
.totalImage{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/900 */

color: #101828;
}
.totalServicePrice{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/900 */

color: #101828;
}
.imageCalculator{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 328px;
/* height: 148px; */

background: linear-gradient(168.3deg, rgba(106, 115, 182, 0.06) 14.84%, rgba(106, 115, 182, 0.3) 96.55%);
border-radius: 8px;
}
.imageCalcPara{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: block;
margin: auto;


/* Gray/900 */

color: #101828;
}
.priceCalc{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 312px;
height: 104px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px solid #D0D5DD;
border-radius: 8px;
}
.selectImage{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;

/* Gray/600 */

color: #475467;
}
.btnContainer{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 36px;
height: 36px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px solid #D0D5DD;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}
.number{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */

text-align: center;
letter-spacing: -0.02em;

/* Gray/900 */

color: #101828;
}
.total{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Primary/600 */

color: #155EEF;
}
.pricingStart{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

width: 328px;
height: 40px;

/* Primary/600 */

background: #155EEF;
/* Primary/600 */

border: 1px solid #155EEF;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
color: white;
}
/* Pricing Ends */
